
@font-face{
    font-family: 'Fira Code';
    src: url('FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


@font-face{
    font-family: 'Fira Code';
    src: url('FiraCode-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}